In [2]:
import pandas as pd

In [13]:
driver_standings_df = pd.read_csv('DRIVER_STANDINGS.csv')
lap_times_df = pd.read_csv('LAP_TIMES.csv')
pit_stops_df = pd.read_csv('PIT_STOPS.csv')
races_df = pd.read_csv('RACES.csv')
results_df = pd.read_csv('RESULTS.csv')
safety_car_df = pd.read_csv('SAFETY_CAR.csv')

/tmp/ipykernel_61530/3993730488.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  driver_standings_df = pd.read_csv('DRIVER_STANDINGS.csv')

## driver_standings_df

In [6]:
driver_standings_df

,DRIVERSTANDINGSID,RACEID,DRIVERID,POINTS,POSITION,POSITIONTEXT,WINS,YEAR,ROUND,NAME,DRIVERREF,FINAL,DRIVER_POSITION_BEFORE_RACE,DRIVER_POINTS_BEFORE_RACE,POSITION_POINTS_BEFORE_RACE,POINTS_OF_LOWER_POSITION,POINTS_OF_LOWER_POSITION_BEFORE_RACE,DELTA_POINTS_TO_LOWER_POSITION,DELTA_POINTS_TO_LOWER_POSITION_BEFORE_RACE,CHANGE_DELTA_BEFORE_AND_AFTER_RACE
0,2,18,2,8.0,2,2,0,2008.0,1.0,Australian Grand Prix,heidfeld,N,13.0,19.0,84.0,6.0,77.0,2.0,7.0,-5.0
1,3,18,3,6.0,3,3,0,2008.0,1.0,Australian Grand Prix,rosberg,N,7.0,34.5,77.0,5.0,69.5,1.0,7.5,-6.5
2,5,18,5,4.0,5,5,0,2008.0,1.0,Australian Grand Prix,kovalainen,N,12.0,22.0,49.0,3.0,48.0,1.0,1.0,0.0
3,6,18,6,3.0,6,6,0,2008.0,1.0,Australian Grand Prix,nakajima,N,20.0,0.0,48.0,2.0,34.5,1.0,13.5,-12.5
4,7,18,7,2.0,7,7,0,2008.0,1.0,Australian Grand Prix,bourdais,N,19.0,2.0,34.5,1.0,32.5,1.0,2.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33389,43567,839,501,0.0,33,33,0,1950.0,7.0,Italian Grand Prix,schell,Y,32.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33390,43566,839,762,0.0,59,59,0,1950.0,7.0,Italian Grand Prix,rol,Y,57.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33391,43564,839,626,3.0,16,16,0,1950.0,7.0,Italian Grand Prix,manzon,Y,15.0,3.0,3.0,3.0,2.0,0.0,1.0,-1.0
33392,43563,839,498,0.0,57,57,0,1950.0,7.0,Italian Grand Prix,gonzalez,Y,55.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33393,43561,839,793,3.0,15,15,0,1950.0,7.0,Italian Grand Prix,sommer,Y,14.0,3.0,3.0,3.0,3.0,0.0,0.0,0.0

In [21]:
driver_standings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33394 entries, 0 to 33393
Data columns (total 20 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   DRIVERSTANDINGSID                           33394 non-null  int64
 1   RACEID                                      33394 non-null  int64
 2   DRIVERID                                    33394 non-null  int64
 3   POINTS                                      33394 non-null  float64
 4   POSITION                                    33394 non-null  int64
 5   POSITIONTEXT                                33394 non-null  object
 6   WINS                                        33394 non-null  int64
 7   YEAR                                        32924 non-null  float64
 8   ROUND                                       32924 non-null  float64
 9   NAME                                        32924 non-null  object
 10  DRIVERREF                                   32924 non-null  object
 11  FINAL                                       32924 non-null  object
 12  DRIVER_POSITION_BEFORE_RACE                 32081 non-null  float64
 13  DRIVER_POINTS_BEFORE_RACE                   32081 non-null  float64
 14  POSITION_POINTS_BEFORE_RACE                 32816 non-null  float64
 15  POINTS_OF_LOWER_POSITION                    31889 non-null  float64
 16  POINTS_OF_LOWER_POSITION_BEFORE_RACE        31788 non-null  float64
 17  DELTA_POINTS_TO_LOWER_POSITION              31889 non-null  float64
 18  DELTA_POINTS_TO_LOWER_POSITION_BEFORE_RACE  31788 non-null  float64
 19  CHANGE_DELTA_BEFORE_AND_AFTER_RACE          31333 non-null  float64
dtypes: float64(11), int64(5), object(4)
memory usage: 5.1+ MB

In [22]:
driver_standings_df.describe()

,DRIVERSTANDINGSID,RACEID,DRIVERID,POINTS,POSITION,WINS,YEAR,ROUND,DRIVER_POSITION_BEFORE_RACE,DRIVER_POINTS_BEFORE_RACE,POSITION_POINTS_BEFORE_RACE,POINTS_OF_LOWER_POSITION,POINTS_OF_LOWER_POSITION_BEFORE_RACE,DELTA_POINTS_TO_LOWER_POSITION,DELTA_POINTS_TO_LOWER_POSITION_BEFORE_RACE,CHANGE_DELTA_BEFORE_AND_AFTER_RACE
count,33394.000000,33394.000000,33394.000000,33394.000000,33394.000000,33394.000000,32924.000000,32924.000000,32081.000000,32081.000000,32816.000000,31889.000000,31788.000000,31889.000000,31788.000000,31333.000000
mean,41053.589327,562.539977,298.800114,12.723882,20.077289,0.265407,1983.604301,8.340906,19.701661,12.345666,12.122343,10.068640,10.056999,2.457742,2.454635,0.011186
std,21717.997691,276.659109,259.756294,33.859644,16.499785,0.974147,20.359738,4.595927,16.077838,32.703078,32.467459,27.261931,27.209389,8.158838,8.124331,3.881638
min,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1950.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,-78.000000,-78.000000,-148.000000
25%,19061.250000,342.000000,84.000000,0.000000,8.000000,0.000000,1966.000000,5.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,48903.500000,587.000000,212.000000,1.000000,16.000000,0.000000,1983.000000,8.000000,16.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,57992.750000,789.000000,484.000000,9.000000,26.000000,0.000000,2001.000000,12.000000,26.000000,9.000000,9.000000,8.000000,8.000000,1.000000,1.000000,0.000000
max,70780.000000,1074.000000,855.000000,413.000000,108.000000,13.000000,2020.000000,21.000000,105.000000,413.000000,413.000000,380.000000,380.000000,155.000000,155.000000,50.000000

## lap_times_df

In [7]:
lap_times_df

,RACEID,DRIVERID,LAP,POSITION,MILLISECONDS,DRIVERREF,RACE_NAME,PIT_STOP,MILLISECONDS_CUMULATIVE,MEDIAN_MILLISECONDS_CUMULATIVE
0,873,3,24,7,116146,rosberg,2012 Singapore Grand Prix,N,2852420.0,2866218.0
1,873,3,28,7,116793,rosberg,2012 Singapore Grand Prix,N,3319106.0,3340358.0
2,873,3,29,6,116463,rosberg,2012 Singapore Grand Prix,N,3435569.0,3456817.0
3,873,3,33,5,141718,rosberg,2012 Singapore Grand Prix,Y,3929302.0,3950385.0
4,873,3,35,8,148328,rosberg,2012 Singapore Grand Prix,N,4238489.0,4242607.5
...,...,...,...,...,...,...,...,...,...,...
304949,1055,1,55,2,80787,hamilton,2021 Spanish Grand Prix,N,NaN,NaN
304950,1055,1,57,2,80906,hamilton,2021 Spanish Grand Prix,N,NaN,NaN
304951,1055,1,59,2,81521,hamilton,2021 Spanish Grand Prix,N,NaN,NaN
304952,1055,1,60,1,82205,hamilton,2021 Spanish Grand Prix,N,NaN,NaN
304953,1052,1,7,2,96123,hamilton,2021 Bahrain Grand Prix,N,NaN,NaN

In [20]:
lap_times_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304954 entries, 0 to 304953
Data columns (total 10 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   RACEID                          304954 non-null  int64
 1   DRIVERID                        304954 non-null  int64
 2   LAP                             304954 non-null  int64
 3   POSITION                        304954 non-null  int64
 4   MILLISECONDS                    304954 non-null  int64
 5   DRIVERREF                       304954 non-null  object
 6   RACE_NAME                       304954 non-null  object
 7   PIT_STOP                        304954 non-null  object
 8   MILLISECONDS_CUMULATIVE         281266 non-null  float64
 9   MEDIAN_MILLISECONDS_CUMULATIVE  281266 non-null  float64
dtypes: float64(2), int64(5), object(3)
memory usage: 23.3+ MB

In [19]:
lap_times_df.describe()

,RACEID,DRIVERID,LAP,POSITION,MILLISECONDS,MILLISECONDS_CUMULATIVE,MEDIAN_MILLISECONDS_CUMULATIVE
count,304954.000000,304954.000000,304954.000000,304954.000000,3.049540e+05,2.812660e+05,2.812660e+05
mean,796.189189,425.814533,30.040596,10.046804,9.898989e+04,2.985959e+06,2.982206e+06
std,333.727464,401.485030,18.198017,5.688609,9.409092e+04,1.859269e+06,1.856969e+06
min,1.000000,1.000000,1.000000,1.000000,5.540400e+04,6.892200e+04,7.807050e+04
25%,854.000000,13.000000,14.000000,5.000000,8.341400e+04,1.453847e+06,1.451282e+06
50%,926.000000,155.000000,29.000000,10.000000,9.483800e+04,2.883610e+06,2.879868e+06
75%,999.000000,825.000000,44.000000,15.000000,1.049650e+05,4.358178e+06,4.352409e+06
max,1073.000000,854.000000,87.000000,24.000000,7.507547e+06,1.476231e+07,1.471278e+07

## pit_stops_df

In [8]:
pit_stops_df

,RACEID,DRIVERID,STOP,LAP,TIME,DURATION,MILLISECONDS,DATETIME_PITSTOP,DRIVERREF
0,849,817,2,28,13:56:23,26.942,26942,10-JUL-11,ricciardo
1,849,2,2,30,13:57:06,24.434,24434,10-JUL-11,heidfeld
2,849,10,2,30,13:58:43,24.959,24959,10-JUL-11,glock
3,849,153,2,31,13:58:46,24.095,24095,10-JUL-11,alguersuari
4,849,22,2,31,13:59:02,23.955,23955,10-JUL-11,barrichello
...,...,...,...,...,...,...,...,...,...
8823,855,3,2,24,15:45:23,20.665,20665,09-OCT-11,rosberg
8824,843,22,1,16,15:32:01,21.709,21709,17-APR-11,barrichello
8825,843,30,3,39,16:11:49,21.400,21400,17-APR-11,michael_schumacher
8826,1006,830,1,22,13:51:28,23.446,23446,21-OCT-18,max_verstappen
8827,1007,828,1,16,13:36:10,31.406,31406,28-OCT-18,ericsson

In [23]:
pit_stops_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8828 entries, 0 to 8827
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   RACEID            8828 non-null   int64
 1   DRIVERID          8828 non-null   int64
 2   STOP              8828 non-null   int64
 3   LAP               8828 non-null   int64
 4   TIME              8828 non-null   object
 5   DURATION          8828 non-null   object
 6   MILLISECONDS      8828 non-null   int64
 7   DATETIME_PITSTOP  8030 non-null   object
 8   DRIVERREF         8030 non-null   object
dtypes: int64(5), object(4)
memory usage: 620.8+ KB

In [24]:
pit_stops_df.describe()

            RACEID     DRIVERID         STOP          LAP  MILLISECONDS
count  8828.000000  8828.000000  8828.000000  8828.000000  8.828000e+03
mean    944.363049   493.641482     1.768237    25.118034  6.782700e+04
std      69.248219   394.313670     0.923481    14.503790  2.488059e+05
min     841.000000     1.000000     1.000000     1.000000  1.289700e+04
25%     882.000000    17.000000     1.000000    13.000000  2.190300e+04
50%     942.000000   814.000000     2.000000    25.000000  2.352500e+04
75%    1002.000000   828.000000     2.000000    35.000000  2.613200e+04
max    1073.000000   854.000000     6.000000    78.000000  2.077164e+06

## races_df

In [14]:
races_df

,RACEID,YEAR,ROUND,NAME,F1DATE,TIME,URL,SCORE,DNF_COUNT,DNF_DUE_TO_ACCIDENT_COUNT,WEATHER,WEATHER_WET,CIRCUITREF,YEAR_C,RACE_COUNT,NAME_YEAR,OVERTAKEN_POSITIONS_TOTAL
0,25,2008,8,French Grand Prix,22-JUN-08,12:00:00,http://en.wikipedia.org/wiki/2008_French_Grand...,5.548,1,1,Dry at first; light rain in the final stages,Y,magny_cours,2008,1,2008 French Grand Prix,169
1,27,2008,10,German Grand Prix,20-JUL-08,12:00:00,http://en.wikipedia.org/wiki/2008_German_Grand...,7.180,3,1,"Cloudy, later sunny[1]",N,hockenheimring,2008,1,2008 German Grand Prix,181
2,23,2008,6,Monaco Grand Prix,25-MAY-08,12:00:00,http://en.wikipedia.org/wiki/2008_Monaco_Grand...,8.177,6,5,"Wet, drying later.",Y,monaco,2008,1,2008 Monaco Grand Prix,147
3,9,2009,9,German Grand Prix,12-JUL-09,12:00:00,http://en.wikipedia.org/wiki/2009_German_Grand...,7.096,2,0,Sunny and overcast,N,nurburgring,2009,1,2009 German Grand Prix,236
4,6,2009,6,Monaco Grand Prix,24-MAY-09,12:00:00,http://en.wikipedia.org/wiki/2009_Monaco_Grand...,5.504,6,5,Sunny,N,monaco,2009,1,2009 Monaco Grand Prix,92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1037,637,1971,6,British Grand Prix,17-JUL-71,\N,http://en.wikipedia.org/wiki/1971_British_Gran...,NaN,13,2,"Overcast, dry",N,silverstone,1971,1,1971 British Grand Prix,0
1038,129,2002,6,Austrian Grand Prix,12-MAY-02,\N,http://en.wikipedia.org/wiki/2002_Austrian_Gra...,NaN,10,3,"Clear, Air Temp: 20°C",N,osterreichring,2002,1,2002 Austrian Grand Prix,122
1039,142,2001,2,Malaysian Grand Prix,18-MAR-01,\N,http://en.wikipedia.org/wiki/2001_Malaysian_Gr...,NaN,8,4,"Rain and Thunderstorms at start, dry later; Ai...",Y,sepang,2001,1,2001 Malaysian Grand Prix,131
1040,372,1988,1,Brazilian Grand Prix,03-APR-88,\N,http://en.wikipedia.org/wiki/1988_Brazilian_Gr...,NaN,22,0,Cloudy and hot,N,jacarepagua,1988,1,1988 Brazilian Grand Prix,0
1041,261,1994,5,Spanish Grand Prix,29-MAY-94,\N,http://en.wikipedia.org/wiki/1994_Spanish_Gran...,NaN,17,4,Sunny,N,catalunya,1994,1,1994 Spanish Grand Prix,0

In [25]:
races_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1042 entries, 0 to 1041
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   RACEID                     1042 non-null   int64
 1   YEAR                       1042 non-null   int64
 2   ROUND                      1042 non-null   int64
 3   NAME                       1042 non-null   object
 4   F1DATE                     1042 non-null   object
 5   TIME                       1042 non-null   object
 6   URL                        1042 non-null   object
 7   SCORE                      235 non-null    float64
 8   DNF_COUNT                  1042 non-null   int64
 9   DNF_DUE_TO_ACCIDENT_COUNT  1042 non-null   int64
 10  WEATHER                    1020 non-null   object
 11  WEATHER_WET                1042 non-null   object
 12  CIRCUITREF                 1042 non-null   object
 13  YEAR_C                     1042 non-null   int64
 14  RACE_COUNT                 1042 non-null   int64
 15  NAME_YEAR                  1042 non-null   object
 16  OVERTAKEN_POSITIONS_TOTAL  1042 non-null   int64
dtypes: float64(1), int64(8), object(8)
memory usage: 138.5+ KB

In [26]:
races_df.describe()

,RACEID,YEAR,ROUND,SCORE,DNF_COUNT,DNF_DUE_TO_ACCIDENT_COUNT,YEAR_C,RACE_COUNT,OVERTAKEN_POSITIONS_TOTAL
count,1042.000000,1042.000000,1042.000000,235.000000,1042.000000,1042.000000,1042.000000,1042.0,1042.000000
mean,524.683301,1990.392514,8.329175,6.770174,10.902111,2.565259,1990.392514,1.0,60.602687
std,305.813379,19.625124,4.967918,1.297649,6.249535,2.522533,19.625124,0.0,82.050976
min,1.000000,1950.000000,1.000000,3.200000,0.000000,0.000000,1950.000000,1.0,0.000000
25%,261.250000,1975.000000,4.000000,5.797000,6.000000,1.000000,1975.000000,1.0,0.000000
50%,521.500000,1992.000000,8.000000,6.751000,11.000000,2.000000,1992.000000,1.0,0.000000
75%,781.750000,2007.000000,12.000000,7.773500,15.000000,4.000000,2007.000000,1.0,116.750000
max,1073.000000,2021.000000,22.000000,9.449000,32.000000,16.000000,2021.000000,1.0,422.000000

## results_df

In [9]:
results_df

,RESULTID,RACEID,DRIVERID,CONSTRUCTORID,F1NUM,GRID,POSITION,POSITIONTEXT,POSITIONORDER,POINTS,...,MILLISECONDS,FASTESTLAP,RANK,FASTESTLAPTIME,FASTESTLAPSPEED,STATUSID,YEAR,ROUND,NAME,POINTS_CHAR
0,292,32,10,7,12,7,4,4,4,5.0,...,7044459,50,8,1:47.044,170.408,1,2008.0,15.0,Singapore Grand Prix,5 points
1,293,32,20,5,15,6,5,5,5,4.0,...,7046572,13,9,1:47.271,170.047,1,2008.0,15.0,Singapore Grand Prix,4 points
2,294,32,2,2,3,9,6,6,6,3.0,...,7047405,14,11,1:47.306,169.992,1,2008.0,15.0,Singapore Grand Prix,3 points
3,295,32,14,9,9,14,7,7,7,2.0,...,7052691,41,13,1:47.562,169.587,1,2008.0,15.0,Singapore Grand Prix,2 points
4,296,32,6,3,8,10,8,8,8,1.0,...,7054793,13,10,1:47.287,170.022,1,2008.0,15.0,Singapore Grand Prix,1 points
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25352,4990,250,97,29,9,20,\N,R,20,0.0,...,\N,\N,\N,\N,\N,20,1995.0,11.0,Belgian Grand Prix,0 points
25353,5003,251,64,28,21,23,9,9,9,0.0,...,\N,\N,\N,\N,\N,13,1995.0,12.0,Italian Grand Prix,0 points
25354,5016,251,83,18,23,19,\N,R,22,0.0,...,\N,\N,\N,\N,\N,7,1995.0,12.0,Italian Grand Prix,0 points
25355,5028,252,56,17,15,10,10,10,10,0.0,...,\N,\N,\N,\N,\N,11,1995.0,13.0,Portuguese Grand Prix,0 points
25356,5044,253,55,6,27,6,2,2,2,6.0,...,6001728,\N,\N,\N,\N,1,1995.0,14.0,European Grand Prix,6 points

In [27]:
results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25357 entries, 0 to 25356
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RESULTID         25357 non-null  int64
 1   RACEID           25357 non-null  int64
 2   DRIVERID         25357 non-null  int64
 3   CONSTRUCTORID    25357 non-null  int64
 4   F1NUM            24938 non-null  object
 5   GRID             25357 non-null  int64
 6   POSITION         25357 non-null  object
 7   POSITIONTEXT     25357 non-null  object
 8   POSITIONORDER    25357 non-null  int64
 9   POINTS           25357 non-null  float64
 10  LAPS             25357 non-null  int64
 11  TIME             25357 non-null  object
 12  MILLISECONDS     25357 non-null  object
 13  FASTESTLAP       25357 non-null  object
 14  RANK             25357 non-null  object
 15  FASTESTLAPTIME   25357 non-null  object
 16  FASTESTLAPSPEED  25357 non-null  object
 17  STATUSID         25357 non-null  int64
 18  YEAR             24938 non-null  float64
 19  ROUND            24938 non-null  float64
 20  NAME             24938 non-null  object
 21  POINTS_CHAR      24938 non-null  object
dtypes: float64(3), int64(8), object(11)
memory usage: 4.3+ MB

In [28]:
results_df.describe()

,RESULTID,RACEID,DRIVERID,CONSTRUCTORID,GRID,POSITIONORDER,POINTS,LAPS,STATUSID,YEAR,ROUND
count,25357.000000,25357.000000,25357.000000,25357.000000,25357.000000,25357.000000,25357.000000,25357.000000,25357.000000,24938.000000,24938.000000
mean,12685.005245,521.159916,253.180424,47.769847,11.202784,12.927988,1.818921,45.797334,17.680759,1989.180808,8.280335
std,7328.092821,292.687446,260.808018,58.744543,7.266080,7.733469,4.072809,29.917966,26.081336,18.735870,4.865588
min,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1950.000000,1.000000
25%,6340.000000,289.000000,56.000000,6.000000,5.000000,6.000000,0.000000,21.000000,1.000000,1976.000000,4.000000
50%,12679.000000,505.000000,159.000000,25.000000,11.000000,12.000000,0.000000,52.000000,11.000000,1990.000000,8.000000
75%,19024.000000,767.000000,351.000000,58.000000,17.000000,19.000000,2.000000,66.000000,14.000000,2005.000000,12.000000
max,25404.000000,1073.000000,854.000000,214.000000,34.000000,39.000000,50.000000,200.000000,139.000000,2020.000000,21.000000

## safety_car_df

In [10]:
safety_car_df

     YEAR                       RACE  COUNT  LAPS
0    2021         Bahrain Grand Prix      1   NaN
1    2021  Emilia Romagna Grand Prix      1   NaN
2    2021      Portuguese Grand Prix      1   NaN
3    2021         Spanish Grand Prix      1   NaN
4    2021      Azerbaijan Grand Prix      2   NaN
..    ...                        ...    ...   ...
131  2018   United States Grand Prix      1   2.0
132  2012       Malaysian Grand Prix      1   7.0
133  2015       Malaysian Grand Prix      1   3.0
134  2016       Malaysian Grand Prix      3   7.0
135  2012        European Grand Prix      1   5.0

[136 rows x 4 columns]

In [29]:
safety_car_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   YEAR    136 non-null    int64
 1   RACE    136 non-null    object
 2   COUNT   136 non-null    int64
 3   LAPS    123 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 4.4+ KB

In [30]:
safety_car_df.describe()

              YEAR       COUNT        LAPS
count   136.000000  136.000000  123.000000
mean   2015.926471    1.566176    6.520325
std       3.325841    0.932557    5.145983
min    2010.000000    1.000000    1.000000
25%    2013.750000    1.000000    3.000000
50%    2016.000000    1.000000    5.000000
75%    2018.000000    2.000000    8.000000
max    2021.000000    6.000000   34.000000